doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel="stylesheet", href="css/Style.css")
    script( src='js/clientside.js',defer)
    title About Us
  body#About
    header
      img(src='graphics/line.png', width="150", height="8")
      div.logo2
        img#pic2(src='graphics/backround.png', width="20", height="20")
        h4 FIND ME A CLASS
      div.line22
        img#line22( src='graphics/line.png', width="150", height="8")
    nav
      ul
        li
          a(href = "http://localhost:3000/HomePage") חזרה לעמוד הכניסה
        li
          a(href = "http://localhost:3000/SingUpPage") להרשמה    
    content
      h5 ?מי אני
      br
      p .החלטתי לבנות אתר אשר יעזור לנו הסטודנטים למצוא כיתה פנויה באוניברסיטה WEB אני שחר חדידה, כחלק מקורס
      p ?למי מאיתנו לא קרה שהיו לו שעות חלון והוא רצה לנצל זאת ללמוד אך לא מצא כיתה פנויה ובזבז את כל הזמן על חיפוש
      p !אז במיוחד בשביל זה קיים האתר הזה
      p :באתר זה תוכלו לחפש כיתה פנויה לפי בניין, שעה ותאריך. ולא רק זה, באתר יש אפשרויות נוספות
      P הצגת מפת מיקרוגלים אוניברסיטאית
      p google maps ניווט לבניין בעזרת
      p שריון כיתה ללמידה
      p הזמנה מארומה
      p !אז למה אתם מחכים? תרשמו כבר עכשיו
    footer 
      | לתמיכה טכנית חייג: 03-6755555
      | Find Me A Class
      | :חפשו אותנו בפייסבוק 