doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        link(rel="stylesheet", href="css/Style.css")
        script( src='js/clientside.js',defer)
        title Search Page
    body#SearchPage
        header
            img(src='graphics/line.png', width="150", height="8")
            div.logo2
                img#pic2(src='graphics/backround.png', width="20", height="20")
                h4 FIND ME A CLASS
            div.line22
                img#line22( src='graphics/line.png', width="150", height="8")
        nav
            ul
                li
                    a(href = "http://localhost:3000/WelcomePage") מסך בית
                li
                    a(href = "http://localhost:3000/SearchPage") חיפוש כיתה
                li
                    a(href = "http://localhost:3000/AromaOrder") הזמן מארומה
                li
                    a(href = "http://localhost:3000/NevigationPage") נווט לבניין 
                li
                    a(href = "http://localhost:3000/Map") מפה אוניברסיטאית 
        content 
            h5 חיפוש כיתה
            form#search(class="my_form" method="post" action="/FindClasses")
                div.msg#msgSearch
                h6 #{v4}
                br
                select(name="serchBuilding" id="serchBuilding")
                    option(disabled selected value)
                    option 90
                    option 91
                    option 92
                    option 32
                    option 34
                    option 35
                    option 28
                |:מספר בניין
                br
                br
                input#date(type="date", name="date")
                |:תאריך
                br
                br
                input#start(type="time", name="start")
                |:משעה
                br
                br
                input#end(type="time", name="end")
                |:עד שעה
                br
                br
                input.btn#search(type="submit", value="מצא לי כיתה")
        footer
            | לתמיכה טכנית חייג: 03-6755555
            | Find Me A Class
            | :חפשו אותנו בפייסבוק