<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AromaOrder</title>
    <link rel="stylesheet" href="../statics/Style.css">
    <script defer src="../statics/page1.js"></script>
</head>
<body class="AromaPage">

    <header>
        <img src="../statics/line.png" alt=""
            width="150" height="5">
        <div class="logo2">
            <div id="pic2">
                <img src="../statics/backround.png" alt=""
                    width="20" height="20">
            </div>
            <h4>FIND ME A CLASS</h4>
        </div>
        <div id="line22">
            <img src="../statics/line.png" alt=""
                width="150" height="5">
        </div>
    </header>

    <nav id="navNevi">
        <ul>
            <li><a href="../views/WelcomePage.html">מסך בית</a></li>
            <li><a href="../views/SearchPage.html">חיפוש כיתה</a></li>
            <li><a href="../views/AromaOrder.html">הזמן מארומה</a></li>
            <li><a href="../views/NevigationPage.html">נווט לבניין</a></li>
            <li><a href="../views/Map.html">מפת מיקרוגלים</a></li>
        </ul>
    </nav>

    <div class="content" id="aromapage">
              <div class="product-container">
                  <div class="product-box">
                      <div class="product-img">
                          <a href="" class="add-cart"> הוסף
                              <i class="fas fa-shopping-cart"></i>
                            </a>
                        <img src="../statics/hotchoko.png">
                      </div>
                      <div class="product-details">
                          <span class="p-name">שוקו חם</span>
                          <span class="p-price">₪ 16.00</span>
                      </div>
                  </div>
                    <div class="product-box">
                        <div class="product-img">
                          <a href="#" class="add-cart">הוסף
                              <i class="fas fa-shopping-cart"></i>
                          </a>
                          <img src="../statics/tea.png">
                        </div>
                        <div class="product-details">
                            <span class="p-name">תה</span>
                            <span class="p-price">₪ 10.00</span>
                        </div>
                    </div>
                  <div class="product-box">
                    <div class="product-img">
                        <a href="#" class="add-cart">הוסף
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                      <img src="../statics/espresso.png">
                    </div>
                    <div class="product-details">
                        <span class="p-name">אפסרסו</span>
                        <span class="p-price">₪ 8.00</span>
                    </div>
                </div>
                  <div class="product-box">
                    <div class="product-img">
                        <a href="#" class="add-cart">הוסף
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                      <img src="../statics/capuchino.png">
                    </div>
                    <div class="product-details">
                        <span class="p-name">הפוך</span>
                        <span class="p-price">₪ 14.00</span>
                    </div>
                </div>
                  <div class="product-box">
                    <div class="product-img">
                        <a href="#" class="add-cart">הוסף
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                      <img src="../statics/halumi.png">
                    </div>
                    <div class="product-details">
                        <span class="p-name">סלט חלומי</span>
                        <span class="p-price">₪ 39.00</span>
                    </div>
                </div>
                  <div class="product-box">
                    <div class="product-img">
                        <a href="#" class="add-cart">הוסף
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                      <img src="../statics/tuna.png">
                    </div>
                    <div class="product-details">
                        <span class="p-name">סלט טונה</span>
                        <span class="p-price">₪ 44.00</span>
                    </div>
                </div>
                  <div class="product-box">
                    <div class="product-img">
                        <a href="#" class="add-cart">הוסף
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                      <img src="../statics/salmon.png">
                    </div>
                    <div class="product-details">
                        <span class="p-name">כריך סלמון</span>
                        <span class="p-price">₪ 40.00</span>
                    </div>
                </div>
                  <div class="product-box">
                    <div class="product-img">
                        <a href="#" class="add-cart">הוסף
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                      <img src="../statics/omlet.png">
                    </div>
                    <div class="product-details">
                        <span class="p-name">כריך חביתה</span>
                        <span class="p-price">₪ 32.00</span>
                    </div>
                </div>
              </div>
          </section>
        <li><a href="../views/orderdetails.html" class="btn" id="order">  צפייה בסל</a></li>
    </div>

    <div class="footer">
        לתמיכה טכנית חייג: 03-6755555
        Find Me A Class
        :חפשו אותנו בפייסבוק
    </div>

</body>
</html>