<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OrderDetails</title>
    <link rel="stylesheet" href="../statics/Style.css">
    <script defer src="../statics/page1.js"></script>
</head>
<body class="DetailsPage">
    <header>
        <img src="../statics/line.png" alt=""
            width="150" height="5">
        <div class="logo2">
            <div id="pic2">
                <img src="../statics/backround.png" alt=""
                    width="20" height="20">
            </div>
            <h4>FIND ME A CLASS</h4>
        </div>
        <div id="line22">
            <img src="../statics/line.png" alt=""
                width="150" height="5">
        </div>
    </header>

    <nav id="navSearch">
        <ul>
            <li><a href="../views/WelcomePage.html">חזור למסך בית</a></li>
            <li><a href="../views/AromaOrder.html">חזור לתפריט</a></li>
        </ul>
    </nav>

<content class="resCont">
        <h1>ההזמנה שלך</h1>
        <table id="classes">
            <tr>
                <th>סה"כ</th>
                <th>כמות</th>
                <th>מחיר</th>
                <th>מוצר</th>
            </tr>
            <tr>
                <td>28.00</td>
                <td>2</td>
                <td>14.00</td>
                <td>הפוך</td>
            </tr>
            <tr>
                <td>32.00</td>
                <td>1</td>
                <td>32.00</td>
                <td>כריך חביתה</td>
            </tr>

        </table>
    <br>
    <br>
    <button onclick="ordermsg()" type="reserve" class="tbl" >הזמן</button>
    </content>


</body>
</html>